*:focus {
  outline: none;
}

a, .link{
  text-decoration: none;
  color: rgb(228, 134, 117);
}

a:hover, .link:hover{
  color: teal;
}

h3{
  text-transform:uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: .4rem;
  margin: 30px 0 20px 0;
}

#app{
  display: grid;
  grid-template-columns: max(30%, 320px) 1fr 100px;
  grid-template-rows: auto max(35% 445px) auto auto;
  min-height: 100vh;
}

#topbar{ 
  grid-row: 1;
  grid-column: 1 / span 3;
  min-height: 30px;
  background-color: rgba(122, 45, 32, 0.897);
  background-image:  url('./images/allec-gomes');
  background-size:cover;
  background-position:top;
  display: flex;
  color: aliceblue;
  padding-bottom: 6px;
}

#sidebar {
  font-size: .8rem;
  grid-column: 1;
  grid-row: 3 / span 2;
  background-color: rgb(8, 8, 8);
  color: aliceblue;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

#sidebar p, #sidebar span{
 margin:4px 0;
}

#sidebar #contact p{
  margin-bottom: 20px;
}

#sidebar div{
  margin-bottom: 10px;
}

#header{
  grid-row: 2;
  grid-column: 2 / span 2;
  padding: 0 30px;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

#header h1{
  padding-top: 0px;
  font-size: 4.3rem;
  margin: 0;
}

#header h2{
  font-size: 1.3rem;
  font-weight: 300;
  color: rgb(122, 122, 122);
  margin: 10px 0;
}

.light{

  font-weight:100;
}

.displayBlock{
  display: block;
}

.bold{
  font-weight: bolder;
}

label{
  letter-spacing: .06rem;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}

#profile-image{
  background-image: url('./images/allec-gomes');
  background-size: cover;
  grid-row: 2;
  grid-column: 1;
  background-color: lightgray;
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#education{
  margin: 0;
  padding: 0;
}

#education ul{
  list-style: none;
  padding: 0;
}

#education li{
  margin-bottom: 20px;
}

#education label{
  text-transform: uppercase;
}

#main{
  grid-row: 3;
  padding-left : 30px;
  padding-bottom: 30px;
}
#experience {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#experience > ul{
  list-style: none;
  color: rgb(122, 122, 122);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#experience > ul > li{
  margin-bottom: 30px;
}

#experience h4{
  text-transform: uppercase;
  display: inline;
  color: black;
  word-spacing: .3rem;
  letter-spacing: .06rem;
}

#experience p{
  margin:0;
  font-weight: 300;
  line-height: 1.2em;
}

#experience button{
  background-color: transparent;
  color:rgb(122, 122, 122);
}

#experience .company{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .15rem;
}

#experience li > ul > li {
  list-style: square
}

#skills{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
}

#skills > ul{
  list-style: none;
}

#skills > ul > li{
  margin-bottom: 10px;
  font-weight: 100;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto;
  align-items: center;
}

#skills h4{
  margin: 0;
  font-weight: 400;
  display: inline-flex;
}

#skills > .rating{
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 5px;
}

#skills > .rating .shade{
  background-color: rgb(228, 134, 117);
} 

.hide{
  display: none;
}

input{
  background-color: transparent;
  border: 0px;
  border-radius: 3px;
  border-bottom:3px solid  rgb(228, 134, 117);
  outline: none;
}

#header input{
  font-size: 1.6rem;

}

#sidebar input{
  font-size: 0.9rem;
  color: aliceblue;
}

#main input[type=text]{
  width: 50%;
  font-size: 1rem;
}

#main textarea{
  font-size: 1rem;
  border:3px solid  rgb(228, 134, 117);
  outline: none;
  padding: 8px;
}

#main button{
  background-color: transparent;
  color: rgb(221, 88, 48);
  border-radius: 15px;
  border: 2px solid black;
  padding: 2px 8px;
}

#sidebar button{
  background-color: aliceblue;
  color: rgb(221, 88, 48);
  border-radius: 15px;
  border: 2px solid black;
  padding: 2px 8px;
}

#main button:hover, #sidebar button:hover{
  background-color: rgb(221, 88, 48);
  color: white;
  border-radius: 15px;
  border: 2px solid black;
  padding: 2px 8px;
}

#topbar > div{
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  font-weight: lighter;
  padding-top: 4px;

}
.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  grid-row: 1;
}

.toggle-button {
  position: relative;
  top: 4px;
  width: 100px;
  height: 32px;
  overflow: hidden;

}

.toggle-button.b2 {
  border-radius: 3px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}
.layer {
  width: 100%;
  background-color: #dff5ff;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 10 */
#button-10 .knobs:before,
#button-10 .knobs:after,
#button-10 .knobs span {
  position: absolute;
  top: 2px;
  width: 28px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 4px;
  border-radius: 3px;
  transition: 0.3s ease all;
}

#button-10 .knobs:before {
  content: "";
  left: 4px;
  background-color: rgb(151, 185, 181);
}

#button-10 .knobs:after {
  content: "View";
  right: 4px;
  top: 6px;
  color: #4e4e4e;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  top: 6px;
  color: #fff;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #4e4e4e;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 60px;
  background-color: rgb(122, 122, 122);
}

#button-10 .checkbox:checked + .knobs:after {
  color: #fff;
  top: 6px;

}

#button-10 .checkbox:checked ~ .layer {
  background-color:rgb(228, 228, 228);
}

.read-only{
  pointer-events: none;
}